a.out
*.o
*.d
42TESTERS-CONTAINERS
42_Containator
container_tester
containers_test
ft_containers-tester-42
ft_containers
std_containers
.test.sh.swp
ft_res
res_ft
std_res
deps
objs
*.o
bin
/*.cpp
/*.hpp
/old_test.sh
ft_containers.code-workspace
.vscode